* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;;
}
.main-page{
    background: url('../img/bg-image.jpg') center center/cover no-repeat;
}
.container{
    position: relative;
    width: 1140px;
    margin: 0 auto;
}
.main-content{
    height: 800px;
    padding: 40px 0 60px 0;
}

.logo .logo-img{
   display: block;
   margin: 0 auto;
   margin-bottom: 15px;
}
.logo .logo-text{
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}
.logo{
    margin-bottom: 50px;
}

.title .title-text .title-big{
    color: #ffffff;
    font-size: 70px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0;
}
/* .title .title-text .title-big:before,
.title .title-text .title-big:after
{
content: '';

} */
.title .title-text{
    color: #f9bf3b;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.subtitle{
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}
.subtitle span{
    color: #f9bf3b;
    text-transform: uppercase;
    font-weight: 700;
}
.main-btn, .gift-btn{
    display: block;
    margin: 70px auto;
    width: 310px;
    height: 70px;
    border: 4px solid rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    text-align: center;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    font-style: 21px;
    font-weight: 400;
    text-transform: uppercase;
    outline: none;
    margin-bottom: 70px;
}
.more .more-text{
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 13px;
}
.main-btn-more{
    background-color: transparent;
    cursor: pointer;
    border: 1px solid transparent;
    outline: none;
}
.waiting, .gift{
    background-color: #efefef;
    min-height: 600px;
    padding: 85px 0 75px 0;
}
.waiting-header{
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    padding: 18px;
    margin-bottom: 15px;
}
.waiting-header::after{
    content: '';
    width: 200px;
    color: #f9bf3b;
}
.waiting-subheader{
    color: #4a4a4a;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
}
.waiting-wrap{
    display: flex;
    justify-content: space-between;
}
.waiting-item{
    width: 340px;
    text-align: center;
}
.waiting-img{
    margin-bottom: 15px;
}

.optimisation .optimization-content{
    padding: 100px 0 100px 0;
}

.optimisation .optimization-header{
    margin-left: 390px;
    color:#299cbd;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.optimisation .optimization-text{
    margin-left: 390px;
    font-size: 17px;
    font-weight: 300;
}
.optimisation .optimization-text span{
    font-weight: 700;
}
.optimisation .optimization-img{
    position: absolute;
    top: 48px;
    left: -240px;
    z-index: -1;
}
.result{
    min-height: 450px;
    padding: 85px 0 75px 0;
    background: url(../img/result-bg.jpg) center center/cover no-repeat;
}
.result h2{
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    padding: 18px;
    margin-bottom: 15px;
}
.results-wrap{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.results-wrap .result-item{
    min-width: 200px;
    text-align: center;
}
.results-wrap .result-item .result-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
    margin-bottom: 25px;
}
.results-wrap .result-item .result-text{
    text-align: center;
    color: #efefef;
    font-size: 17px;
    font-weight: 300;
}
.gift{
    height: 625px;
    text-align: center;
}
.gift-img{
    margin-bottom: 45px;
}
.gift-text{
    margin-bottom: 55px;
    font-size: 30px;
    font-weight: 400;
}
.first_vebinar{
    height: 515px;
    text-align: center;
    padding: 85px 0 65px 0;
}
.first_vebinar .first_vebinar-img{
    margin-bottom: 40px;
}
.first_vebinar .first_vebinar_text h2{
    color:#299cbd;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.first_vebinar .first_vebinar_text .first_vebinar_text_title{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 25px;
}
.first_vebinar .first_vebinar_text .first_vebinar_text_subtitle{
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 65px;
}
footer{
    background-color:#1a1a1a;
    height: 165px;
    color: #888888;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
}
.footer .footer_link{
    background-color: #888888;
}